html{

    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
  
}


body{
background-color: #db999b;
overflow: hidden;

}

* {
padding: 0;
margin: 0;
}

.menu {
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 50px;
padding-left: 10%;
padding-right: 10%;
padding-bottom: 20px;
font-weight: bold;
font-family: "Inter", sans-serif;
word-spacing: 10px;
}

.fa-image{
width: 85px;
margin-bottom: 10px;
}

.carro{
    color: white;
    font-size: 40px;
    margin-left: 30px;
}

ul li {
display: inline-block;
padding: 0px 50px;
font-size: 80%;
margin-bottom: 10px;
}

a{
display: inline-block;
padding: 0px 20px;
color:rgb(255, 255, 255);
text-decoration: none;
font-size: 30px;

}

nav {
background-color:#D49EA1;;
border: 1px solid rgb(0, 0, 0);
}



.cart img {
    width: 50px; 
    height: auto;
    border-radius: 50px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    flex: 1; 

}

.main-item {
    text-align: center;
    flex: 1;
    color: white;

}

.main-item img {
   
    width: 450px; 
    height: 450px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    padding: 1px;
    margin-top: 80px;

}

.malteadas {
 display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 2;
    margin-top: 150px;
 padding-left: 150px;
 font-size: 30px;

    
}

.malteada-item {
    display: flex;
    align-items: center;
    gap: 10px;
    width: calc(50% - 30px); 
    margin: 10px;
    color: white;
}

 .malteada-item img {  /*este da el taño de imagen */ 
    width: 150px; /*este ajusta el ancho*/
    height: 150px;/*este tiene que estar siempre igual q el ancho*/
    border-radius: 30%; /*ajustalo para q se vea igual al diseño usa mejor el % y no el px*/
    background-color: rgb(0, 0, 0);
    padding: 1px;
    
}

.malteada-item p {
    margin: 0;
}
.quantity {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quantity input {
    padding: 5px;
    font-size: 1em;
    margin-left: 10px;
    width: 100px;
    text-align: center;
    border: 2px solid #c47272;
    border-radius: 5px;
}
.order-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #c94c4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.order-button:hover {
    background-color: #2e2a2a;
}

.pie{
    background-color: #D49EA1;
   color: white;
    padding-top: 12px;
    padding-left: 60px;
    text-align: left;
    position: fixed;
    height: 200px;
    width: 100%;
    top: 90%;
    font-size: 30px;
    border: 1px inset rgb(247, 151, 151);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    
    }
    
    .insta{
        color: white;
        margin-left: 1000px;
        font-size: 3ch;
    }
    .face{
        color: white;
        margin-left: 40px;
        font-size: 3ch;
    }
    .whats{
        color: white;
        margin-left: 40px;
        font-size: 3ch;
    }